### YamlMime:ManagedReference
items:
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  id: SecurityUtilities
  children:
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.ComputeZonePermissionSet(System.String,System.Security.PermissionSet,System.String[])
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.IdentityListToPermissionSet(System.String[])
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.PermissionSetToIdentityList(System.Security.PermissionSet)
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.Security.Cryptography.X509Certificates.X509Certificate2,System.Uri,System.String)
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Uri,System.String)
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Security.SecureString,System.Uri,System.String)
  - Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.XmlToPermissionSet(System.Xml.XmlElement)
  langs:
  - csharp
  name: SecurityUtilities
  nameWithType: SecurityUtilities
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  type: Class
  summary: To be added.
  remarks: To be added.
  syntax:
    content: >-
      [System.Runtime.InteropServices.ComVisible(false)]

      public static class SecurityUtilities
  inheritance:
  - System.Object
  implements: []
  inheritedMembers: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.ComputeZonePermissionSet(System.String,System.Security.PermissionSet,System.String[])
  id: ComputeZonePermissionSet(System.String,System.Security.PermissionSet,System.String[])
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: ComputeZonePermissionSet(String,PermissionSet,String[])
  nameWithType: SecurityUtilities.ComputeZonePermissionSet(String,PermissionSet,String[])
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.ComputeZonePermissionSet(String,PermissionSet,String[])
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static System.Security.PermissionSet ComputeZonePermissionSet (string targetZone, System.Security.PermissionSet includedPermissionSet, string[] excludedPermissions);
    parameters:
    - id: targetZone
      type: System.String
      description: To be added.
    - id: includedPermissionSet
      type: System.Security.PermissionSet
      description: To be added.
    - id: excludedPermissions
      type: System.String[]
      description: To be added.
    return:
      type: System.Security.PermissionSet
      description: To be added.
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.IdentityListToPermissionSet(System.String[])
  id: IdentityListToPermissionSet(System.String[])
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: IdentityListToPermissionSet(String[])
  nameWithType: SecurityUtilities.IdentityListToPermissionSet(String[])
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.IdentityListToPermissionSet(String[])
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static System.Security.PermissionSet IdentityListToPermissionSet (string[] ids);
    parameters:
    - id: ids
      type: System.String[]
      description: To be added.
    return:
      type: System.Security.PermissionSet
      description: To be added.
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.PermissionSetToIdentityList(System.Security.PermissionSet)
  id: PermissionSetToIdentityList(System.Security.PermissionSet)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: PermissionSetToIdentityList(PermissionSet)
  nameWithType: SecurityUtilities.PermissionSetToIdentityList(PermissionSet)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.PermissionSetToIdentityList(PermissionSet)
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static string[] PermissionSetToIdentityList (System.Security.PermissionSet permissionSet);
    parameters:
    - id: permissionSet
      type: System.Security.PermissionSet
      description: To be added.
    return:
      type: System.String[]
      description: To be added.
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.Security.Cryptography.X509Certificates.X509Certificate2,System.Uri,System.String)
  id: SignFile(System.Security.Cryptography.X509Certificates.X509Certificate2,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: SignFile(X509Certificate2,Uri,String)
  nameWithType: SecurityUtilities.SignFile(X509Certificate2,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(X509Certificate2,Uri,String)
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static void SignFile (System.Security.Cryptography.X509Certificates.X509Certificate2 cert, Uri timestampUrl, string path);
    parameters:
    - id: cert
      type: System.Security.Cryptography.X509Certificates.X509Certificate2
      description: To be added.
    - id: timestampUrl
      type: System.Uri
      description: To be added.
    - id: path
      type: System.String
      description: To be added.
  overload: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile*
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Uri,System.String)
  id: SignFile(System.String,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: SignFile(String,Uri,String)
  nameWithType: SecurityUtilities.SignFile(String,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(String,Uri,String)
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static void SignFile (string certThumbprint, Uri timestampUrl, string path);
    parameters:
    - id: certThumbprint
      type: System.String
      description: To be added.
    - id: timestampUrl
      type: System.Uri
      description: To be added.
    - id: path
      type: System.String
      description: To be added.
  overload: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile*
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Security.SecureString,System.Uri,System.String)
  id: SignFile(System.String,System.Security.SecureString,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: SignFile(String,SecureString,Uri,String)
  nameWithType: SecurityUtilities.SignFile(String,SecureString,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(String,SecureString,Uri,String)
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static void SignFile (string certPath, System.Security.SecureString certPassword, Uri timestampUrl, string path);
    parameters:
    - id: certPath
      type: System.String
      description: To be added.
    - id: certPassword
      type: System.Security.SecureString
      description: To be added.
    - id: timestampUrl
      type: System.Uri
      description: To be added.
    - id: path
      type: System.String
      description: To be added.
  overload: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile*
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.XmlToPermissionSet(System.Xml.XmlElement)
  id: XmlToPermissionSet(System.Xml.XmlElement)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  langs:
  - csharp
  name: XmlToPermissionSet(XmlElement)
  nameWithType: SecurityUtilities.XmlToPermissionSet(XmlElement)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.XmlToPermissionSet(XmlElement)
  type: Method
  assemblies:
  - Microsoft.Build.Tasks.v4.0
  namespace: Microsoft.Build.Tasks.Deployment.ManifestUtilities
  summary: To be added.
  remarks: To be added.
  syntax:
    content: public static System.Security.PermissionSet XmlToPermissionSet (System.Xml.XmlElement element);
    parameters:
    - id: element
      type: System.Xml.XmlElement
      description: To be added.
    return:
      type: System.Security.PermissionSet
      description: To be added.
  platform:
  - net-11
  - net-20
  - netcore-10
references:
- uid: System.Object
  isExternal: false
  name: System.Object
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.ComputeZonePermissionSet(System.String,System.Security.PermissionSet,System.String[])
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: ComputeZonePermissionSet(String,PermissionSet,String[])
  nameWithType: SecurityUtilities.ComputeZonePermissionSet(String,PermissionSet,String[])
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.ComputeZonePermissionSet(String,PermissionSet,String[])
- uid: System.Security.PermissionSet
  parent: System.Security
  isExternal: false
  name: PermissionSet
  nameWithType: PermissionSet
  fullName: System.Security.PermissionSet
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: System.Security.PermissionSet
  parent: System.Security
  isExternal: false
  name: PermissionSet
  nameWithType: PermissionSet
  fullName: System.Security.PermissionSet
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String[]
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.IdentityListToPermissionSet(System.String[])
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: IdentityListToPermissionSet(String[])
  nameWithType: SecurityUtilities.IdentityListToPermissionSet(String[])
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.IdentityListToPermissionSet(String[])
- uid: System.Security.PermissionSet
  parent: System.Security
  isExternal: false
  name: PermissionSet
  nameWithType: PermissionSet
  fullName: System.Security.PermissionSet
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String[]
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.PermissionSetToIdentityList(System.Security.PermissionSet)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: PermissionSetToIdentityList(PermissionSet)
  nameWithType: SecurityUtilities.PermissionSetToIdentityList(PermissionSet)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.PermissionSetToIdentityList(PermissionSet)
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String[]
- uid: System.Security.PermissionSet
  parent: System.Security
  isExternal: false
  name: PermissionSet
  nameWithType: PermissionSet
  fullName: System.Security.PermissionSet
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.Security.Cryptography.X509Certificates.X509Certificate2,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: SignFile(X509Certificate2,Uri,String)
  nameWithType: SecurityUtilities.SignFile(X509Certificate2,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(X509Certificate2,Uri,String)
- uid: System.Security.Cryptography.X509Certificates.X509Certificate2
  parent: System.Security.Cryptography.X509Certificates
  isExternal: false
  name: X509Certificate2
  nameWithType: X509Certificate2
  fullName: System.Security.Cryptography.X509Certificates.X509Certificate2
- uid: System.Uri
  parent: System
  isExternal: true
  name: Uri
  nameWithType: Uri
  fullName: System.Uri
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: SignFile(String,Uri,String)
  nameWithType: SecurityUtilities.SignFile(String,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(String,Uri,String)
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: System.Uri
  parent: System
  isExternal: true
  name: Uri
  nameWithType: Uri
  fullName: System.Uri
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(System.String,System.Security.SecureString,System.Uri,System.String)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: SignFile(String,SecureString,Uri,String)
  nameWithType: SecurityUtilities.SignFile(String,SecureString,Uri,String)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile(String,SecureString,Uri,String)
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: System.Security.SecureString
  parent: System.Security
  isExternal: false
  name: SecureString
  nameWithType: SecureString
  fullName: System.Security.SecureString
- uid: System.Uri
  parent: System
  isExternal: true
  name: Uri
  nameWithType: Uri
  fullName: System.Uri
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.XmlToPermissionSet(System.Xml.XmlElement)
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: XmlToPermissionSet(XmlElement)
  nameWithType: SecurityUtilities.XmlToPermissionSet(XmlElement)
  fullName: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.XmlToPermissionSet(XmlElement)
- uid: System.Security.PermissionSet
  parent: System.Security
  isExternal: false
  name: PermissionSet
  nameWithType: PermissionSet
  fullName: System.Security.PermissionSet
- uid: System.Xml.XmlElement
  parent: System.Xml
  isExternal: false
  name: XmlElement
  nameWithType: XmlElement
  fullName: System.Xml.XmlElement
- uid: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities.SignFile*
  parent: Microsoft.Build.Tasks.Deployment.ManifestUtilities.SecurityUtilities
  isExternal: false
  name: SignFile
  nameWithType: SecurityUtilities.SignFile
